<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QrCode</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <script type="text/javascript" src="src/js/jquery.min.js"></script>
    <script type="text/javascript" src="src/js/qrcode.js"></script>
    <script src="https://kit.fontawesome.com/0d613e0be3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="src/style/style.css">
</head>
<body class="grey lighten-3">
{% block body %}

{% endblock %}

<script src="src/js/ColorPicker.js"></script>
<script src="src/js/Download.js"></script>
</body>
</html>
