<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QrCode</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <script type="text/javascript" src="src/js/jquery.min.js"></script>
    <script type="text/javascript" src="src/js/qrcode.js"></script>
    <script src="https://kit.fontawesome.com/0d613e0be3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="src/style/style.css">
</head>
<body class="grey lighten-3">
{% if test %}
    <div class="container">
        <div class="section white">
            <div class="row ">
                <div class="col s12 m8 offset-m2 l6 offset-l3 links">
                    <span class="red-text">
                        Vous êtes en mode test. Ouvrez la console pour voir les résultats des tests
                    </span>
                </div>
            </div>
        </div>
    </div>

{% endif %}
{% block body %}

{% endblock %}

{% include '__scripts.html.twig' %}

{% if test %}
    <script src="src/js/tests/Console.js"></script>
    <script src="src/js/tests/AppTests.js"></script>
    <script>
        const Test = new AppTests()
        Test.show()
    </script>
{% endif %}

</body>
</html>
