<div class="col s12 m8 offset-m2 l6 offset-l3 links">
    <a href="https://www.linkedin.com/in/francois-vaillant/"><i class="fa-brands fa-linkedin grey-text text-darken-3"></i></a>
    <a href="https://github.com/frvaillant/qr-code-generator"><i class="fa-brands fa-github grey-text text-darken-3"></i></a>
</div>